<p id="notice"><%= notice %></p>

<h1>Tasks</h1>
<%= form_tag(tasks_path, method: :get) do  %>
  <div class="form-inline my-2 my-lg-0">
    <%= text_field_tag :term, params[:term], class: "form-control mr-sm-2", placeholder: "Search with status " %>
    <%= submit_tag 'Search', class: "btn btn-outline-success my-2 my-sm-0"  %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Details</th>
      <th>Start</th>
      <th>Endtime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.details %></td>
        <td><%= task.startdate %></td>
        <td><%= task.enddate %></td>


        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'sort by deadline', tasks_path(sort_expired: 'true'), class: 'btn btn-outline-primary' %>
<%= link_to 'New Task', new_task_path %>
