<p id="notice"><%= notice %></p>

<h1 style="text-align:center;">Tasks</h1>
<table class="table" style="width:60rem;margin-left:25rem;background-color:#4dd599">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Details</th>
      <th scope="col">StartDate</th>
      <th scope="col">EndDate</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <% if current_user.id == task.user_id%>
      <tr>
        <th scope="row"><%= task.id %></th>
        <td><%= task.name %></td>
        <td><%= task.details %></td>
        <td><%= task.startdate %></td>
        <td><%= task.enddate %></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>
        <td>
          <%= link_to 'Show', task, class:"btn btn-outline-success my-2 my-sm-0", style:"color:black" %>
          <%= link_to 'Edit', edit_task_path(task), class:"btn btn-outline-primary my-2 my-sm-0",  style:"color:black" %>
          <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger my-2 my-sm-0",  style:"color:black" %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks %>
<br>
<%= link_to 'sort by deadline', tasks_path(sort_expired: 'true'), class: 'btn btn-outline-warning', style:"color:black" %>

<%= link_to 'sort by priority', tasks_path(priority: 'true'), class: 'btn btn-outline-warning', style:"color:black" %>