<!DOCTYPE html>
<html>
  <head>
    <title>Everyleaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  </head>

  <body>
        <%if logged_in?%>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#00918e">
        <a class="navbar-brand" href="#" style="color:#fff;">Everyleaf Corporation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%if current_user.admin? %>
            <%= link_to 'Home', admin_users_path, class:"nav-link", style:"color:#fff;" %>
            <%else%>
            <%= link_to 'Home', tasks_path, class:"nav-link", style:"color:#fff;" %>
            <%end%>
          </li>
         
          <li class="nav-item">
            <%= link_to 'New Task', new_task_path, class:"nav-link", style:"color:#fff;" %>
          </li>
          
          <li class="nav-item">
            <%= link_to 'New Label', new_label_path, class:"nav-link", style:"color:#fff;" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Users', users_path, class:"nav-link", style:"color:#fff;" %>
          </li>
          <% if logged_in? %>
 <li class="nav-item">
 <a class="nav-link" <%= link_to "Logout", session_path(current_user.id), method: :delete%> </a>
 </li>
 <% end %>
        </ul>


        <%= form_tag(tasks_path, method: :get, class:"form-inline my-2 my-lg-0") do  %>
          <div class="form-inline my-2 my-lg-0">
            <%= text_field_tag :term, params[:term], class: "form-control mr-sm-2", placeholder: "Search both status nd title " %>
            <%= submit_tag 'Search', class: "btn btn-outline-success my-2 my-sm-0", style:"color:#fff;"  %>
          </div>
        <% end %>
      </div>
    </nav>
    <% if logged_in? %>
 <p class="wel"> Logged in as , <%=current_user.fullname %> </p><br>
 <% end %>
        <%end%>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
